<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<h2><br><%= link_to 'Infected survivors (percentage)', report_infected_path %></br>
<br><%= link_to 'Non infected survivor (percentage)', report_non_infected_path %></br>
<br><%= link_to 'Average resources', report_average_resources_path %></br>
<br><%= link_to 'Points lost', report_points_lost_path %></br>
</h2></br>
<%= link_to 'Back', welcome_path %>
